{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}
  <title>Mesurements | Pulse</title>
{% endblock %}

{% block body %}
  <div class="container mb-4">
    <h2 class="text-center">Input your pulse measurements</h2>
    <div class="row">
      <div class="col-md-5 offset-md-1 text-center mt-4">
        {% if user.is_authenticated %}
          {% crispy form %}
        {% else %}
          <h3 class="text-danger">
            Please log in to input your pulse measurement results.
          </h3>
        {% endif %}
      </div>
      <div class="col-md-5 offset-md-1 mt-4">
        <h3>
          What is the pulse rate?
        </h3>
        <p>
          When your heart beats it pushes blood around 
          your body. This heartbeat can be felt as your 
          'pulse' on your wrist or neck <br>
          Your pulse is measured by counting the number 
          of times your heart beats in one minute. For example, 
          if your heart contracts 72 times in one minute, 
          your pulse would be 72 beats per minute (BPM). 
          This is also called your heart rate.<br>
          A normal pulse beats in a steady, regular rhythm. 
          However, in some people this rhythm is uneven, or 
          'jumps about'. This is known as an irregular pulse.<br>
          You can measure your heart rate manually by checking your 
          pulse. Follow these three steps:
          <ul>
            <li>Find your pulse in your wrist</li>
            <li>Count each beat for a total time of 30 seconds.</li>
            <li>Double the number of beats you counted. This is your heart 
              rate or pulse, measured in beats per minute.</li>
          </ul>
          <a href="https://www.heartfoundation.org.nz/wellbeing/managing-risk/how-to-check-your-pulse-heart-rate">
            <h5>See more &raquo;</h5>
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}