{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "common/css/style.css" %}>
    {% block head %}{% endblock %}
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand ms-2" href="{% url 'common:home' %}">Health</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-1 d-flex w-100">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'common:home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
              Measurements
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'measurements:blood_measure' %}">Blood</a>
              <a class="dropdown-item" href="#">Pulse</a>
              <a class="dropdown-item" href="{% url 'measurements:glucose_measure' %}">Glucoze</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
              History
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'history:blood_preasure' %}">Blood</a>
              <a class="dropdown-item" href="#">Pulse</a>
              <a class="dropdown-item" href="#">Glucoze</a>
            </div>
          </li>
          <li class="nav-item flex-fill">
            <a class="nav-link" href="{% url 'analysis:blood_analysis' %}">Analysis</a>
          </li>
          <li class="nav-item me-1">
            {% if user.is_authenticated %}
              <a type="button" class="btn btn-outline-primary me-2" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a type="button" class="btn btn-outline-priamry me-2" href="{% url 'login' %}">Login</a>
              <a type="button" class="btn btn-primary" href="{% url 'register:register' %}">Sign-up</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    {% block body %}{% endblock %}

  </body>

</html>