{% extends "base.html" %}

{% block head %}
  <title>Analysis | Glucose</title>
{% endblock %}


{% block body %}
<div class="Chart w-100">
    <h3 class="text-center">Glucose graph</h3>
    <canvas id="myChart"></canvas>
    <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    Chart.defaults.color = ['rgb(33, 37, 41)'];
    const myChart = new Chart(ctx, {
      data: {
        labels: [{% for data in data %}'{{data.created|date:"d-m-Y H:i:s"}}',{% endfor %}],
        datasets: [{
          type: 'line',
          label: 'Blood test',
          order: 1,
          data: [
          {% for data in data %}
            {% if data.glucose_blood %}
              {
                x:'{{data.created|date:"d-m-Y H:i:s"}}', y:{{data.glucose_blood}}
              },
            {% endif %}
          {% endfor %}
          ],
          backgroundColor: ['rgba(240, 44, 181, 0.3)'],
          borderColor: ['rgba(240, 44, 181, 1)'],
          borderWidth: 1.5,
          fill: true,
        }, {
          type: 'line',
          label: 'Oral test',
          order: 2,
          data: [
          {% for data in data %}
            {% if data.glucose_oral %}
              {
                x:'{{data.created|date:"d-m-Y H:i:s"}}', y:{{data.glucose_oral}}
              },
            {% endif %}
          {% endfor %}
          ],
          backgroundColor: ['rgba(44, 240, 67, 0.3)'],
          borderColor: ['rgba(44, 240, 67, 1)'],
          borderWidth: 1.5,
          fill: true,
        }],
      },
      options: {
        plugins: {
          legend: {
            rtl: true,
            labels: {
              padding: 30,
            }
          }
        },
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: '[mg/dL]',
            }
          },
          x: {
            title: {
              display: true,
              text: 'Measure day',
            }
          }
        }
      },
    });
    </script>
</div>
<div class="table p-2">
    <h5>Your results: </h5>
    <table class="table table-bordered">
        <thead>
          <tr class="table-active text-center">
            <th scope="col"></th>
            <th scope="col">Blood test [mg/dL]</th>
            <th scope="col">Oral test [mg/dL]</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr class={{category}}>
            <th scope="row" style="color: #000;">Avarage</th>
            <td>{{blood_test.2}}</td>
            <td>{{oral_test.2}}</td>
          </tr>
          <tr class="table-light">
            <th scope="row">Maximal</th>
            <td>{{blood_test.0.0|floatformat}}</td>
            <td>{{oral_test.0.0|floatformat}}</td>
          </tr>
          <tr class="table-light">
            <th scope="row">Minimal</th>
            <td>{{blood_test.1.0|floatformat}}</td>
            <td>{{oral_test.1.0|floatformat}}</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}


{% block script %}
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
{% endblock %}