{% extends "base_history.html" %}

{% block head %}
  <title>History | Blood preasure</title>
{% endblock %}

{% block in_body %}

    <!-- Paginationed user blood preasure measurements -->
    <div class="list-group">
      <h3>History of blood preasure measurements</h3> 
      <div class="d-flex mb-1">
        <h5 class="me-3 my-0">Legend:</h5>
          <p class="list-group-item-info flex-fill">Low</p>
          <p class="list-group-item-success flex-fill">Normal</p>
          <p class="list-group-item-warning flex-fill">Elevated</p>
          <p class="list-group-item-height-warning flex-fill">High blood preasure stage 1</p>
          <p class="list-group-item-danger flex-fill">High blood preasure stage 2</p>
          <p class="list-group-item-height-danger flex-fill">Hypertensive crisis</p>
      </div>
      <h5>Systolic / Diastolic - Created</h5>
      {% for h in page_obj %}
        {% if h.category == category.CRISIS %}
          <a href="{% url 'history:blood_preasure_details' h.id %}" class="list-group-item list-group-item-height-danger">
        {% elif h.category == category.STAGE_2 %}
          <a href="{% url 'history:blood_preasure_details' h.id %}" class="list-group-item list-group-item-danger">
        {% elif h.category == category.STAGE_1 %}
          <a href="{% url 'history:blood_preasure_details' h.id %}" class="list-group-item list-group-item-height-warning">
        {% elif h.category == category.LOW %}
          <a href="{% url 'history:blood_preasure_details' h.id %}" class="list-group-item list-group-item-info">
        {% elif h.category == category.NORMAL %}
          <a href="{% url 'history:blood_preasure_details' h.id %}" class="list-group-item list-group-item-success">
        {% else %}
          <a href="{% url 'history:blood_preasure_details' h.id %}" class="list-group-item list-group-item-warning">
        {% endif %}
            {{ h.systolic_bp }} / {{ h.diastolic_bp }} - {{ h.created }}
          </a>
      {% endfor %}
    </div>

{% endblock %}