{% extends "base_history.html" %}

{% block head %}
  <title>History | Pulse</title>
{% endblock %}

{% block in_body %}

    <!-- Paginationed user pulse measurements -->
    <div class="list-group">
      <h3>History of pulse measurements</h3> 
      <div class="d-flex mb-1">
        <h5 class="me-3 my-0">Legend:</h5>
          <p class="list-group-item-warning flex-fill">Low</p>
          <p class="list-group-item-success flex-fill">Normal</p>
          <p class="list-group-item-height-warning flex-fill">High</p>
      </div>
      <h5>Pulse measurement - Created</h5>
      {% for h in page_obj %}
        {% if h.category == category.LOW %}
          <a href="{% url 'history:pulse_details' h.id %}" class="list-group-item list-group-item-warning">
        {% elif h.category == category.HIGH %}
          <a href="{% url 'history:pulse_details' h.id %}" class="list-group-item list-group-item-height-warning">
        {% else %}
          <a href="{% url 'history:pulse_details' h.id %}" class="list-group-item list-group-item-success">
        {% endif %}
            {{ h.pulse|floatformat }}  - {{ h.created }}
          </a>
      {% endfor %}
    </div>

{% endblock %}
